@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Josefin+Sans:ital@0;1&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

html,body, #root{
  height: 100%;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;

}